@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
    color: #000;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}
.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:#E3E6F3;
    box-shadow: 0 5px 15px rgba(0 ,0 , 0 , 0.06);
    z-index: 999;
    position: sticky;
    top:0px;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding : 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px

}
#navbar .close{
    display: none;
}
#mobile{
    display: none;
}
#hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: none;
    padding:14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#hero button:hover{
    color: rgba(3, 81, 18);
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.01);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: rgb(239, 251, 213);
}

#feature .fe-box:nth-child(3) h6{
    background-color: rgb(213, 217, 251);
}

#feature .fe-box:nth-child(4) h6{
    background-color: rgb(251, 213, 245);
}

#feature .fe-box:nth-child(5) h6{
    background-color: rgb(213, 248, 251);
}

#feature .fe-box:nth-child(6) h6{
    background-color: rgb(221, 213, 251);
}

#product1 {
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    align-content: flex-start;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(75, 75, 75, 0.3);
    cursor:pointer;
    border-radius: 20px;
    margin: 15px 0px;
    transition: 0.3 ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 50px rgba(81, 81, 81, 0.5);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0
}

#product1 .pro .des span{
    color:#606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25)
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom: 20px;
    right: 10px
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    background-position: center;
    height: 40vh;
    width: 100%;
    background-size: cover;
}

#banner h4{
    color:white;
    font-size: 16px;
}

#banner h2{
    color:white;
    font-size: 25px;
    padding: 10px 0px;
}

#banner button:hover{
    background-image: linear-gradient(to bottom right , rgb(202, 198, 198), white);
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 580px;
    text-align: start;
    background-image: url("img/banner/b17.jpg");
    height: 50vh;
    background-size: cover;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    padding-left: 35px;
    color: white;
}

#sm-banner h2 {
    color: white;
    padding-bottom: 10px;
}

#sm-banner h4{
    color: white;
    padding-bottom: 10px;
    font-weight: 400;
}

#sm-banner button{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: transparent;
    color:white;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s ease;
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#sm-banner .banner-box:nth-child(2){
    background-image: url("img/banner/b10.jpg");
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    min-width: 30%;
    background-image: url("img/banner/b7.jpg");
    height: 30vh;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
    padding-left: 35px;
    color: white;
}

#banner3 .banner-box:nth-child(2){
    background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box:nth-child(3){
    background-image: url("img/banner/b18.jpg");
}
#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
    line-height: 30px;
}

#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
    margin-top: 10px;
}

#banner3 .banner-box:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#newsletter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b2.jpg);
    margin: 20px 0;
    margin-bottom: 40px;
}

#newsletter .text{
    color: white;
    max-width: 40%;
}

#newsletter .text h4{
    color: white;
}

#newsletter .text p {
    color: rgba(255 , 255 , 255 , 0.5);
    font-size: 15px;
}
#newsletter .email{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#newsletter .email input{
    padding: 10px 70px;
    margin-left: 60px;
    margin-right: -4px;
    width: 60%;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
}

#newsletter .email button{
    padding: 10px 20px;
    margin-left: 0;
    border: none;
    background-color:#088178;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
}

#newsletter .email button:hover{
    background-color: #06605a;
    cursor: pointer;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top:  20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover{
    color: #088178;
}

footer a:hover{
    color: #088178;
}

footer .copywrite{
    width: 100%;
    text-align: center;
}

/* Cart Page*/

/* Start Media Query*/

@media (max-width: 899px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 98vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0 , 0.1);
        padding: 80px 0 0 20px;
        transition: 0.3s ease;
        font-size: 5px;

    }
    #navbar li{
        padding: 15px;
    }
    #navbar li a{
        font-size: 20px;
    }
    #navbar.active{
        right: 0;
    }
    #navbar .cart{
        display: none;
    }
    #header {

        padding: 10px 80px;
    }

    #mobile{
        display: flex;
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
    }
    #mobile .cart{
        color: black;
    }
    #bar{
        padding-left: 30px;
        color: black;
    }
    #bar:active{
        color: #ec544e;
    }
    #navbar .close{
        display: flex;
        font-size: 35px;
        position:absolute;
        top:30px;
        left: 30px ;
        color: black;
    }
    #navbar .close:active{
        color:#ec544e;
    }

    #hero {
        background-size: cover;
        background-position: top 25% right 45%;
    }

    #banner {
        height: 20vh;
    }
}